
<main>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75 " >
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style="
            background-image: url('https://cdn.pixabay.com/photo/2024/08/13/16/10/ultrasound-8966402_960_720.png');
            z-index: -2; 
          "
        >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-75 bg-black"
            style="z-index: -1;" 
          ></span>
        </div>
        <div class="container relative mx-auto text-white">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="pr-12">
                <h1 class="text-white font-semibold text-5xl">
                  Santo Expedito <br>
                  Sonografia 
                </h1>
                <p class="mt-4 text-lg text-blueGray-200">
                    Orientado pela incessante busca da excelência na assistência á saúde, a Ultrassonografia Santo 
                    Expedito ocupa posição de vanguarda entre as instituições clínicas da região do Vale do Aço.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-20"
          style="transform: translateZ(0); z-index: -1;" 
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              style="fill: #ffffff;" 
              points="2560 0 2560 200 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      
      
      
      

  <section class="pb-20 bg-blueGray-200 -mt-24" style="background-color: #40414215;">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
              >
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">Sua Saúde em Boas Mãos</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Referência em 
                qualidade e cuidado na região. Nossa equipe de especialistas se dedica a proporcionar um atendimento
                 excepcional, garantindo a precisão e a segurança dos seus exames.
              </p>
            </div>
          </div>
        </div>

        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
                <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
              >
                <i class="fas fa-rocket"></i>
              </div>
              <h6 class="text-xl font-semibold">Especializado</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Reconhecida pela excelência, somos a melhor opção particular em Ultrassonografia na região. Nossa 
                abordagem combina procedimentos de alta complexidade com um atendimento multidisciplinar, sempre 
                focado nas necessidades do paciente.
                 
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400"
              >
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">Qualidade</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Nossa clínica oferece uma medicina alinhada com as mais recentes inovações científicas 
                e tecnológicas do mundo. Venha nos visitar e descubra a excelência de nossos serviços, onde
                 o seu bem-estar é sempre a nossa prioridade!
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
          >
            <i class="fas fa-user-friends text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Exames
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
          >
          Realizamos exames clínicos com qualidade e excelência de padrões dos maiores hospitais do Brasil,
           com o compromisso garantido de qualidade dos serviços prestados e a preocupação com o bem estar de 
           nossos pacientes.
          </p>
          <p
            class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-600"
          >
            
          <a  class="font-bold text-blueGray-700 mt-8">
            
            Abdominal Superior   <i class="fa-solid fa-arrow-right-long"></i>   
            Abdominal Total    <i class="fa-solid fa-arrow-right-long"></i> 
            Aparelho Urinário  <i class="fa-solid fa-arrow-right-long"></i> 
            Bolsa Escrotal     <i class="fa-solid fa-arrow-right-long"></i>   
            Ecodopplercardiografia  <i class="fa-solid fa-arrow-right-long"></i> 
            Mamas   <i class="fa-solid fa-arrow-right-long"></i> 
            Obstétrico   <i class="fa-solid fa-arrow-right-long"></i> 
            Obstétrico Transvaginal  <i class="fa-solid fa-arrow-right-long"></i> 
            Pélvico Abdominal  <i class="fa-solid fa-arrow-right-long"></i> 
            Pélvico Transvaginal  <i class="fa-solid fa-arrow-right-long"></i> 
            Próstata
          </a>
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto  ">
            <div
              class="relative flex flex-col min-w-0 break-words bg-red w-full mb-6 shadow-lg rounded-lg bg-red-600"
            >
              <img
                alt="..."
                src="https://img.freepik.com/fotos-gratis/retrato-de-mae-com-recem-nascido_23-2151055133.jpg"
                class="w-full align-middle rounded-t-lg "
              />
              <blockquote class="relative p-8 mb-4">
                
                <h4 class="text-xl font-bold text-white">Excelência em Ultrassonografia</h4>
                <p class="text-md font-light mt-2 text-white">
                    Reconhecida como uma instituição de vanguarda no Vale do Aço, oferecemos um padrão de excelência 
                    em Ultrassonografia, consolidando-nos como a escolha preferencial para serviços particulares na região.
                     Nossa dedicação à qualidade e à precisão nos torna a opção ideal para quem busca cuidado e tecnologia 
                     de ponta.
                </p>
              </blockquote>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg"
            src="https://images.pexels.com/photos/7088841/pexels-photo-7088841.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
                <i class="fa-solid fa-notes-medical fa-2x"></i>
            </div>
            <h3 class="text-3xl font-semibold">Cuidando do Futuro com Amor</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
                Cada imagem revela não apenas um momento, mas um laço precioso entre mãe e filho.
                 Na nossa clínica, sua saúde e bem-estar estão em primeiro lugar.
                 
                
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                      <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                        Equipamentos de Alta Qualidade
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                    <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                        Profissionais Especializados
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                    <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                        Ambiente Confortável e Acessível
                    </h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-20 pb-48">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold">Médicos</h2>
          <p class="text-lg leading-relaxed m-4 text-blueGray-500">
            Confie sua saúde a um profissional experiente, dedicado a oferecer o melhor cuidado e atenção em cada exame.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="https://cdn-icons-png.flaticon.com/512/194/194915.png"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              <h5 class="text-xl font-bold">Dr.Hélio de Carvalho</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Medicina do Trabalho  <br>
                Ultrassonografista  <br>
                Ginecologista  <br>
                Obstetra  <br>
              </p>
             
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="https://cdn-icons-png.flaticon.com/512/194/194915.png"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              <h5 class="text-xl font-bold">Dr. Daniel Alvares</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Ecocardiografista <br>
                Clínica Médica <br>
                Cardiologista <br>
              </p>
           
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="https://cdn-icons-png.flaticon.com/512/194/194915.png"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              <h5 class="text-xl font-bold">Dr. Romeu dos Santos </h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Medicina do Trabalho <br>
                Eletrocardiografia <br>
                Clínica Médica <br>
              </p>
              
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="https://cdn-icons-png.flaticon.com/512/5545/5545268.png"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              <h5 class="text-xl font-bold">Sra. Carmita Nunes</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Recepcionista
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-20 relative block bg-blueGray-800 text-white" style="background-color: #2d3748;" >
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          style="fill: #2d3748;"
          class="text-blueGray-800 fill-current"
          points="2560 0 2560 200 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-white">Agende um horario!</h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400">
            Não deixe sua saúde para depois. Agende seu exame de ultrassonografia com a nossa equipe qualificada
             e experimente um atendimento de excelência. Estamos prontos para cuidar de você!

          </p>
        </div>
      </div>
      
      
    </div>
  </section>
  <section class="relative block py-24 lg:pt-0 bg-blueGray-800 text-white" style="background-color: #2d3748;">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
        <div class="w-full lg:w-6/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200" style="background-color: #fdfdfd54;"
          >
            <div class="flex-auto p-5 lg:p-10">
              <h4 class="text-2xl font-semibold">Nós envie uma mensagem</h4>
              <p class="leading-relaxed mt-1 mb-4 text-blueGray-500">
                Atendimento de Segunda a Sexta das 08:00 até 17:00.
              </p>
              <div class="relative w-full mb-3 mt-8">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="full-name"
                >
                  Nome Completo
                </label>
                <input
                  type="text"
                  [(ngModel)]="nome" class="border-0 px-3 text-black py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Seu nome completo"
                />
              </div>

              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="email"
                >
                  Email
                </label>
                <input
                  type="email"
                  [(ngModel)]="email" class="border-0 px-3 py-3 text-black placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Seu melhor e-mail"
                />
              </div>

              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="message"
                >
                  Mensagem
                </label>
                <textarea rows="4" cols="80" [(ngModel)]="mensagem" class="border-0 px-3 text-black py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Desejo agendar uma consulta..."></textarea>
              </div>
              <div class="text-center mt-6">
                <button (click)="enviarMensagem()" style="background-color: #07111f85;" class="text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
                    Enviar
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
