<nav id="navbar" 
  class="fixed  top-0 z-50 w-full text-white flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-transparent "
>
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start text-black">
      <a
        class="text-blueGray-700 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        href="#"
      >
       <span >Santo Expedito </span>
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
      >
        <i  class="fas fa-bars "></i>
      </button>
    </div>
    <div class="lg:flex flex-grow items-center" id="example-navbar-warning">
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center"></li>
      </ul>
     
    </div>
  </div>
</nav>
